{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdn.tailwindcss.com"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8c5fb25a16.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'front/css/style.css' %}">


    {% block extracss %}
    {% endblock %}

    {% load static %}
    <title>{% block title %}Título por defecto{% endblock %}</title>
</head>
<body>
    <header id="header" class="bg-violet-200 px-6 shadow fixed w-full top-0 z-50 transition-bg">
        <div class="max-w-6xl mx-auto flex justify-between h-16 items-center">
            <!-- Botón de despliegue de menú -->
            <button id="menu-toggle" class="p-1 -ml-1 hover:bg-indigo-300 hover:text-white rounded transition-colors focus:ring-2 focus:ring-violet-300 lg:hidden">
                <span><i class="fa-solid fa-bars"></i></span>
            </button>

            <!-- Escritorio -->
            <div class="flex items-center -mr-4">
                <!-- Logo -->
                <a class="duration-300 hover:rotate-6" href="{% url 'index' %}"><img class="h-8 w-8" src="{% static 'front/img/fav.svg' %}" alt="logo"></a>
                <!-- Fin Logo -->

                <div class="hidden md:flex space-x-8 ml-4">
                    <a href="{% url 'index' %}" class="px-3 py-2 text-slate-600 transition-colors uppercase">inicio</a>
                    {% if user.is_authenticated %}
                        <a href="{% url 'productos' %}" class="px-3 py-2 text-slate-600 transition-colors uppercase hover:text-fuchsia-500">productos</a>
                        <a href="{% url 'categorias' %}" class="px-3 py-2 text-slate-600 transition-colors uppercase hover:text-fuchsia-500">categorias</a>
                    {% endif %}
                </div>
            </div>
            <!-- Fin Escritorio -->

            <!-- Agrupaciones -->
            <div class="flex items-center space-x-4">
                {% if user.is_authenticated %}
                    <span class="px-3 py-2 text-slate-600">Hola, {{ user.username }}</span>
                    <a href="{% url 'cerrar_sesion' %}" class="bg-red-500 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300 ease-in-out hover:bg-red-700">
                        <i class="fa-solid fa-sign-out-alt"></i> Logout
                    </a>
                {% else %}
                    <a href="{% url 'registrar' %}" class="bg-lime-500 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300 ease-in-out hover:bg-violet-500">
                        <i class="fa-solid fa-user-plus"></i> Registrar
                    </a>
                    <a href="{% url 'iniciar_sesion' %}" class="bg-fuchsia-500 text-white font-bold py-2 px-4 rounded shadow-lg transition duration-300 ease-in-out hover:bg-violet-500">
                        <i class="fa-solid fa-sign-in-alt"></i> Iniciar
                    </a>
                {% endif %}
            </div>
            <!-- Fin Agrupaciones -->
        </div>
        
        <!-- Link de navegación móvil -->
        <div id="mobile-menu" class="hidden md:hidden">
            <a href="{% url 'index' %}" class="block px-4 py-2 text-slate-600 transition-colors uppercase">inicio</a>
            {% if user.is_authenticated %}
                <a href="{% url 'productos' %}" class="block px-4 py-2 text-slate-600 transition-colors uppercase hover:text-fuchsia-500">productos</a>
                <a href="{% url 'categorias' %}" class="block px-4 py-2 text-slate-600 transition-colors uppercase hover:text-fuchsia-500">categorias</a>
            {% endif %}
        </div>
        <!-- Fin Navegación móvil -->
    </header>

    <main class="mt-20 min-h-screen px-4 sm:px-6 lg:px-8">
        <!-- Contenido del cuerpo -->
        {% block content %}
        {% endblock %}
    </main>

    <footer class="text-gray-600 body-font">
        <div class="container px-5 py-8 mx-auto flex items-center justify-between">
            <div class="text-sm text-gray-500">Desarrollado por:
                <span class="text-gray-900">Rene Riquelme</span>
            </div>
            <div class="text-sm text-gray-500">Correo:
                <a href="mailto:correo@institucional.com" class="text-gray-900">RENE.RIQUELME@alumno.santiagocft.cl</a>
            </div>
            <div class="text-sm text-gray-500">Fecha de entrega:
                <span class="text-gray-900">29 de junio de 2024</span>
            </div>
        </div>
    </footer>
    
    <script src="{% static 'front/js/toogle.js' %}"></script>
    {% block extrajs %}
    {% endblock %}
</body>
</html>
